<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ruth, Mårten Och Giedres Värld</title>
    <link rel="stylesheet" type="text/css" href="/static/Style.css">


</head>

<body>
 
	<center> 
		<h1> Välkomen till Ruth, Mårten och Giedres Värld! </h1>

			<button id="pointless">Pointless Button</button>

				<p id="warning">Warning Pointless</p>

			<a href="https://klockren.nu/">Klockren knapp</a>

		<p> Här kan du trycka på en väldigt intestant knapp och en rätt så tråkig,
	breror på vad du är på för humör. </p>

<p>Annars kan du ju gå in på en annan hemsida för det finns 
inte mycket mer här för dig;) </p>

	<p>Om du inte är på knapp humöret såklart!</p>

		</center>
			<a id="clap" href="clap.jpg"><b>Gurka?</b></a>

				<button id="gurka"><b>Gurka?</b></button>
			<br>
	<button id="gurka2"><b> </b></button>
 <center>

	<img class="Pugs" src="http://images.staticjw.com/wil/6741/dsc-0095.jpg">


		</center>

			<a id="sida2" href="file:///C:/Users/giedr/Desktop/allt/h%C3%A4msida/sida2.html">Nästa sida?</a>

				<div class="fram"> 
		<p><i>Hej, det här är lilla Lady och hennes mamma</p>
		          Hejdå.</i>		

	</div>

<footer>
<p>Copyright &copy; Giedre Aleksandrauskaite</p>
</footer>
</body>
