<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/toolbar.css">

</head>

<body>
    <div class="horizantalToolbar">

        <div class="toolbarButton">
            <h2>Nyheter</h2>
        </div>
        <div class="toolbarButton">
            <h2>Meny</h2>
        </div>
        <div class="toolbarButton">
                <h2>Galleri</h2>
        </div>
        <div class="toolbarButton">
                <h2>Info</h2>
        </div>
        

    
    </div>


</body>